*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  margin: auto;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 800px;
  margin-bottom: 45px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.logo-nav {
  display: flex;
  width: 100%;
  height: 65px;
  padding-top: 30px;
  margin: 0 20px;
}
.logo__text {
  color: #fff;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100px;
}
.nav-list {
  display: flex;
  width: calc(100% - 86px);
  justify-content: flex-end;
  margin: 0 20px;
}
.list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.list--nav-list .list__link {
  color: #fff;
}
.list--nav-list .list__link:hover {
  color: #fce38a;
}
.list__item {
  padding: 0 0 0 40px;
}
.list__link {
  text-decoration: none;
  text-transform: uppercase;
  min-height: 30px;
  font-size: 14px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
}
.list__link::after {
  content: "";
  background-color: #fce38a;
  width: 0px;
  height: 2px;
  display: block;
  transition: all 0.2s linear;
  left: 50%;
  position: absolute;
}
.list__link:hover::after {
  width: 100%;
  left: 0;
}
.base-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67%;
  margin: 0 auto;
}
.base__subtitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
}
.base__title {
  font-size: 150px;
  line-height: 140px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.base__bttn {
  width: 17%;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 8px 12px;
  background-color: transparent;
}
.base__bttn:focus {
  outline: none;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0 auto 80px;
}
.cart {
  width: 380px;
  position: relative;
  display: block;
  margin-bottom: 34px;
}
.cart__img-wrp {
  background-color: #95e1d3;
  height: 470px;
  position: relative;
}
.cart__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: all 0.3s;
}
.cart__img-wrp::after {
  content: "";
  background-image: linear-gradient(#ee8989, #eed688);
  position: absolute;
  height: 470px;
  width: 380px;
  z-index: 20;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}
.cart:hover .cart__img {
  top: -10px;
  left: -10px;
}
.cart:hover .cart__img-wrp::after {
  top: -10px;
  left: -10px;
  opacity: 0.8;
}
.icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 185px;
  left: 80px;
  z-index: 50;
  opacity: 0;
  transition: all 0.3s;
}
.icon {
  --s: 50px;
  width: var(--s);
  height: var(--s);
  background: #fce38a;
  margin-right: 1px;
}
.cart:hover .icons {
  opacity: 1;
}
.icon:hover {
  background: #95e1d3;
}
.icon__img {
  display: block;
  margin: auto;
  padding-top: 12px;
}
.cart-tittle {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: bold;
}
.cart-subtittle {
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.boxes {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  width: 1182px;
  margin: auto;
}
.h-group__subtitle {
  font-size: 30px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.h-group__title {
  text-decoration: none;
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.h-group__subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 44px auto;
}
.list__link:hover::after {
  width: 100%;
}
.box-service__title {
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-weight: bold;
}
.box-service {
  display: flex;
  min-height: 70px;
  min-width: 394px;
  margin-bottom: 100px;
}
.box-service__wrp {
  width: 80px;
  height: 70px;
  padding-left: 20px;
}
.box-service__description {
  width: 270px;
  height: 50px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.h-group__description {
  width: 960px;
  height: 120px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: auto;
}
footer {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  width: 1200px;
  height: 1px;
  background-color: #ccc;
  border: none;
}
.foot-btn {
  display: flex;
  flex-direction: row;
  border: none;
}
.p-footer {
  flex-direction: row;
  font-size: 14px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: space-between;
}
span {
  color: #f38181;
}
.email-windov {
  width: 230px;
  height: 40px;
  color: #ccc;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 13px;
  border: 1px solid #e7e7e7;
}
.input-bt {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: 0;
}
.inp-text {
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
